<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Review</title>
  <link rel="stylesheet" href="/css/edit.css">
  <style>
    .job {
        background: [[${job}]];
    }

    .wage {
        background: [[${wage}]];
    }

    .qualification {
        background: [[${qualification}]];
    }

    .record {
        background: [[${record}]];
    }

    .color-box {
      width: 50px;
      height: 50px;
      display: inline-block;
      border: 1px solid #000;
    }

    .color-box:hover {
        opacity: 0.8;
    }

    table {
      width: 60%;
      border-collapse: collapse;
      margin: 0 auto;
    }

    td {
      padding: 8px;
    }
  </style>
</head>

<body>
<div style="text-align: center">
  <h3 style="display: inline-block">Petition for a Nonimmigrant Worker<span style="padding-right: 30px"></span></h3>
  <h3 style="display: inline-block">USCIS Form I-129</h3>
  <h3>Review Petition</h3>
</div><br><br>

<div style="text-align: center">
  <div style="text-align: left; display: inline-block; margin-left: 25px">
    <p style="font-weight: bold" th:text="'Application ID: EAC2090' + ${visaApplication.applicationId}"></p>
    <p style="font-weight: bold" th:text="'Application Date: ' + ${visaApplication.applicationDate}"></p>
  </div>
</div><br><br>

<div style="text-align: center">
  <table>
    <tr>
      <td colspan="2" style="text-align: center; margin: 4px"><strong>Petitioner Information</strong></td>
    </tr>
    <tr>
      <td>Petitioner's Last Name</td>
      <td th:text="${petitioner.last}"></td>
    </tr>
    <tr>
      <td>Petitioner's First Name</td>
      <td th:text="${petitioner.first}"></td>
    </tr>
    <tr>
      <td>Petitioner's Middle Name</td>
      <td th:text="${petitioner.middle}"></td>
    </tr>
    <tr>
      <td>Petitioner's Company Name</td>
      <td th:text="${petitioner.companyName}"></td>
    </tr>
    <tr>
      <td>Petitioner's Address</td>
      <td th:text="${petitioner.address}"></td>
    </tr>
    <tr>
      <td>Petitioner's Number</td>
      <td th:text="${petitioner.number}"></td>
    </tr>
    <tr>
      <td>Petitioner's City</td>
      <td th:text="${petitioner.city}"></td>
    </tr>
    <tr>
      <td>Petitioner's State</td>
      <td th:text="${petitioner.state}"></td>
    </tr>
    <tr>
      <td>Petitioner's Zipcode</td>
      <td th:text="${petitioner.zipcode}"></td>
    </tr>
    <tr>
      <td>Petitioner's Phone Number</td>
      <td th:text="${petitioner.phoneNumber}"></td>
    </tr>
    <tr>
      <td>Petitioner's Email</td>
      <td th:text="${petitioner.email}"></td>
    </tr>
    <tr>
      <td>Petitioner's FEIN</td>
      <td th:text="${petitioner.fein}"></td>
    </tr>
  </table>
</div><br><br>

<div style="text-align: center">
  <table>
    <tr>
      <td colspan="2" style="text-align: center; margin: 4px"><strong>Beneficiary Information</strong></td>
    </tr>
    <tr>
      <td>Beneficiary's Last Name</td>
      <td th:text="${beneficiary.lastName}"></td>
    </tr>
    <tr>
      <td>Beneficiary's First Name</td>
      <td th:text="${beneficiary.firstName}"></td>
    </tr>
    <tr>
      <td>Beneficiary's Middle Name</td>
      <td th:text="${beneficiary.middleName}"></td>
    </tr>
    <tr>
      <td>Beneficiary's Date of birth</td>
      <td th:text="${beneficiary.DOB}"></td>
    </tr>
    <tr>
      <td>Beneficiary's Gender</td>
      <td th:text="${beneficiary.gender}"></td>
    </tr>
    <tr>
      <td>Beneficiary's Country</td>
      <td th:text="${beneficiary.country}"></td>
    </tr>
    <tr>
      <td>Beneficiary's Passport Number</td>
      <td th:text="${beneficiary.passportNumber}"></td>
    </tr>
    <tr>
      <td>Beneficiary's Education</td>
      <td th:text="${beneficiary.education}"></td>
    </tr>
  </table>
</div><br><br>

<div style="text-align: center">
  <table>
    <tr>
      <td colspan="2" style="text-align: center; margin: 4px"><strong>Basic Information</strong></td>
    </tr>
    <tr>
      <td>Job Title</td>
      <td th:text="${visaApplication.jobTitle}"></td>
    </tr>
    <tr>
      <td>Wage</td>
      <td th:text="'$' + ${visaApplication.wage}"></td>
    </tr>
    <tr>
      <td>From</td>
      <td th:text="${visaApplication.fromDate}"></td>
    </tr>
    <tr>
      <td>To</td>
      <td th:text="${visaApplication.toDate}"></td>
    </tr>
  </table>
</div><br><br>

<div style="text-align: center">
  <table>
    <tr>
      <td colspan="4" style="text-align: center; margin: 4px"><strong>Background Check Score</strong></td>
    </tr>
    <tr>
      <td>Job Title Verification</td>
      <td th:text="${backgroundCheck.jobTitleVerification} + ' (20%)'"></td>
      <td>
        <div id="job" class="color-box" th:style="'background-color: ' + ${job}"></div>
      </td>
      <td rowspan="6">
        <div class="gradient-bar" ></div>
      </td>
    </tr>
    <tr>
      <td>Wage Compliance</td>
      <td th:text="${backgroundCheck.wageCompliance} + ' (15%)'"></td>
      <td>
        <div class="color-box" th:style="'background-color: ' + ${wage}"></div>
      </td>
    </tr>
    <tr>
      <td>Beneficiary Qualification</td>
      <td th:text="${backgroundCheck.beneficiaryQualification} + ' (30%)'"></td>
      <td>
        <div class="color-box" th:style="'background-color: ' + ${qualification}"></div>
      </td>
    </tr>
    <tr>
      <td>Criminal Record</td>
      <td th:text="${backgroundCheck.criminalRecord} + ' (35%)'"></td>
      <td>
        <div class="color-box" th:style="'background-color: ' + ${record}"></div>
      </td>
    </tr>
    <tr>
      <td>Total Normalized Score</td>
      <td th:text="${normalize} + ' / 10'"></td>
      <td>
        <div class="color-box" th:style="'background-color: ' + ${total}"></div>
      </td>
    </tr>
    <tr>
      <td>Minimum Normalized Score</td>
      <td th:text="'2.5 / 10'"></td>
      <td>
        <div class="color-box" th:style="'background-color: ' + ${minimum}"></div>
      </td>
    </tr>
  </table>
</div>

<div id="detail" class="job-detail">
  <div>
    <table>
      <tr th:each="index : ${#numbers.sequence(0, backgroundChecks.size() - 1)}">
        <td th:text="${beneficiaries[index].getLastName()}"></td>
        <td th:text="${backgroundChecks[index].jobTitleVerification}"></td>
        <td>
          <div class="color-box" th:style="'background-color: ' + ${colors[index]}"></div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div style="text-align: center">
  <p><a th:href="@{'/editForm?id=' + ${visaApplication.applicationId}}"><button>Edit</button></a></p>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
  <form th:action="@{/confirm}" method="post">
    <input type="text" id="id" name="id" th:value="${visaApplication.applicationId}" hidden>
    <button type="submit">Confirm</button>
  </form>

  <span style="padding-right: 20px"></span>
  <form th:action="@{/reject}" method="post">
    <input type="text" id="reject_id" name="reject_id" th:value="${visaApplication.applicationId}" hidden>
    <button type="submit">Reject</button>
  </form>

  <span style="padding-right: 20px"></span>
  <form th:action="@{/reviewSearch}" method="get">
    <button type="submit">Cancel</button>
  </form>
</div><br>

<div style="display: flex; justify-content: center; align-items: center;">
  <a href="/"><button type="submit">Main Menu</button></a>
</div><br>

<script src="/js/edit.js"></script>
</body>
</html>